body,
html {
  /*width a height se hodí vždy nastavit na 100% aby se ti stránka 
  roztáhla na celou šířku a výšku*/
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  /*tohle je na to aby tvoje pozadí bylo flexibilní a při zmenšování stránky
   zůstalo vždy na středu*/
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #fbfbfb;
  display: flex;
  justify-content: center;
}

hr {
  border-color: #e88435;
  border-width: 3px ;
  max-width: 100px;
}

.btn {
  font-weight: 700;
  border-radius: 50px;
}

.buffer {
  height: 10rem;
}

.btn-xl {
  padding: 1rem 2rem;
 background-color: #e88435;
 border-color: #e88435;
}

.btn-xl:hover {
  background-color: #ffb478;
  border-color: #ffb478;
  border-width: 4px;
}